# Introduction üé¢

This notebook will be mainly used for the capstone project.

# Coding Fun üèñÔ∏èüíª

_Let's import the usual suspects_ üßô‚Äç‚ôÄÔ∏èüßõüèª‚Äç‚ôÇÔ∏èüßü‚Äç‚ôÇÔ∏è ü§ì:

In [1]:
import pandas as pd
import numpy as np

In [2]:
print("Hello Capstone Project Course!")

Hello Capstone Project Course!

---

# 3Ô∏è‚É£

# Segmenting and Clustering Neighborhoods in Toronto

In [17]:
url = "https://en.wikipedia.org/wiki/List_of_postal_codes_of_Canada:_M"
df = pd.read_html(url)[0]
df.shape

(287, 3)

In [18]:
df.head(3)

  Postcode       Borough Neighbourhood
0      M1A  Not assigned  Not assigned
1      M2A  Not assigned  Not assigned
2      M3A    North York     Parkwoods

Get rid off üî´ that stupid `Not assigned` and fill it with `NaN`:

In [19]:
df = df.replace("Not assigned", np.nan)

##### a) Remove data without Bouroughs
>Only process the cells that have an assigned borough. Ignore cells with a borough that is Not assigned.

In [20]:
df = df[~df["Borough"].isna()]
df.shape

(210, 3)

#### b) Clean Neigbourhood Column
>More than one neighborhood can exist in one postal code area. For example, in the table on the Wikipedia page, you will notice that M5A is listed twice and has two neighborhoods: Harbourfront and Regent Park. These two rows will be combined into one row with the neighborhoods separated with a comma as shown in row 11 in the above table.

_This stupid task took me almost 1 day!_ üò§ _to figure out how - trying different approaches!!! Nothing really worked out._ üò† üí£üî™üî´ _Now, I hate Pandas!_ üêº

In [21]:
# using pandas built-in aggregate function did the trick
df = df.groupby('Postcode').agg(Bourough=("Borough","first"), 
                                 Neighbourhood=('Neighbourhood', list)).reset_index()
df.shape

(103, 3)

In [30]:
df.head()

  Postcode     Bourough                             Neighbourhood
0      M1B  Scarborough                          [Rouge, Malvern]
1      M1C  Scarborough  [Highland Creek, Rouge Hill, Port Union]
2      M1E  Scarborough       [Guildwood, Morningside, West Hill]
3      M1G  Scarborough                                  [Woburn]
4      M1H  Scarborough                               [Cedarbrae]

#### c) Replace not assigned Neigbourhoods with Bouroughs
> If a cell has a borough but a Not assigned neighborhood, then the neighborhood will be the same as the borough. So for the 9th cell in the table on the Wikipedia page, the value of the Borough and the Neighborhood columns will be Queen's Park.

In [24]:
#replace na in Neigbourhood with value in Bourough
df['Neighbourhood'].fillna(value=df['Bourough'],inplace=True)

In [31]:
df.head(5)

  Postcode     Bourough                             Neighbourhood
0      M1B  Scarborough                          [Rouge, Malvern]
1      M1C  Scarborough  [Highland Creek, Rouge Hill, Port Union]
2      M1E  Scarborough       [Guildwood, Morningside, West Hill]
3      M1G  Scarborough                                  [Woburn]
4      M1H  Scarborough                               [Cedarbrae]

---

In [32]:
df.shape

(103, 3)

---
# üîö üôèüèº üôãüèª‚Äç‚ôÇÔ∏è